<div class="container">

	<div class="grid_section width_one_no_margin height_two_no_margin blue_back">

		<div class="grid_section width_one_padded_no_margin height_one_padded_no_margin blue_back">
			1
		</div>

		<div class="grid_section width_one_padded_no_margin height_one_padded_no_margin grey_back">
			2
		</div>

	</div>

	<div class="grid_section width_one_no_margin height_three_no_margin">

		<div class="grid_section width_one_half_padded_no_margin height_two_padded_no_margin blue_grey_back">
			3
		</div>

		<div class="grid_section width_one_half_padded_no_margin height_two_padded_no_margin purple_back">
			4
		</div>

		<div class="grid_section width_one_third_padded_no_margin height_one_padded_no_margin khaki_back">
			5
		</div>

		<div class="grid_section width_two_thirds_padded_no_margin height_one_padded_no_margin grey_back">
			6
		</div>

	</div>

</div>
